@media screen and (max-width: 1200px) {
    .container {
         max-width: 900px;
    }
} 
@media screen and (max-width: 991px) {
    .container {
        max-width: 700px;
        .header__logo {
            width: 180px;
        }
        .header__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
        .header__phone {
            font-size: 15px;
        }
        .promo__wrapper {
            margin-top: 70px;
            .promo__header {
                font-size: 36px;
            }
            .promo__subheader {
                font-size: 18px;
            }
        }
        .button_main {
            width: 340px;
        }
        .title {
            font-size: 26px;
        }
        .advantage__bl {
            padding: 0 13px 0 13px;
            .advantage__subheader {
                font-size: 16px;
            }
            .advantage__text {
                font-size: 13px;
            }
        }
        .carousel__inner {
            width: 600px;
            img {
                width: 90%;
            }
        }
        .reviews__descr {
            width: 500px;
        }
    }
}
@media screen and (max-width: 767px) {
    .container {
        max-width: 518px;
        .header__logo {
            width: 170px;
        }
        .header__official {
            font-size: 10px;
            span {
                font-size: 13px;
            }
        }
        .header__phone {
            font-size: 13px;
        }
        .promo__wrapper {
            margin-top: 68px;
            .promo__header {
                font-size: 32px;
            }
            .promo__subheader {
                font-size: 16px;
            }
            .promo__icon {
                font-size: 12px;
            }
            img {
                width: 50%;
            }
            .promo__link {
                font-size: 14px;
            }
        }
        .button {
            width: 128px;
            font-size: 11px;
            &_main {
                width: 200px;
            }
        }
        .advantage__wrapper {
            flex-direction: column;
            .advantage__item {
                margin: 0 auto;
            }
            .advantage__descr {
                margin-bottom: 30px;
            }
        }
        .carousel__inner {
            width: 422px;
            img {
                width: 100%;
            }
            .slick-prev img {
                width: 20px;
            }
            .slick-next img {
                width: 20px;
            }
        }
        .catalog__content_active {
            justify-content: center;
        }
        .reviews__wrapper {
            flex-direction: column;
        }
        .reviews__round {
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .reviews__descr {
            text-align: center;
        }
    }
}
@media screen and (max-width: 575px) {
    .container {
        max-width: 255px;
        .header {
            flex-direction: column;
            &__logo {
                width: 190px;
                margin-bottom: 12px;
            }
            &__official {
                margin-bottom: 12px;
            }
        }
        .promo__icons {
            width: 255px;
            img {
                width: 43%;
            }
        }
        .title {
            font-size: 22px;
        }
        .consultation {
            padding: 51px 0 92px 0;
            .button_submit {
                width: 219px;
            }
        }
        .carousel__inner {
            width: 70%;
            img {
                width: 100%;
            }
            .slick-prev img {
                width: 10px;
            }
            .slick-next img {
                width: 10px;
            }
        }
        .feed-form {
            width: 100%;
        }
        .catalog__tabs {
            flex-direction: column;
        }
        .catalog__tab {
            margin-bottom: 10px;
        }
        .reviews__descr {
            width: 100%;
        }
    }
        .footer__info {
            width: 62%;
            height: 170px;
            padding: 10px;
            .footer__addr {
                font-size: 14px;
                margin-bottom: 16px;
            }
            .footer__phone {
                font-size: 14px;
            }
            .footer__social {
                margin-top: 20px;
            }
            .footer__social-item {
                margin: 0 5px;
                img {
                    width: 35px;
                }
            }
        }
}
