@media screen and (max-width: 1200px) {
    .container {
         max-width: 900px;
    }
} 
@media screen and (max-width: 991px) {
    .container {
        max-width: 700px;
        .header__logo {
            width: 180px;
        }
        .header__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
        .header__phone {
            font-size: 15px;
        }
        .promo__wrapper {
            margin-top: 70px;
            .promo__header {
                font-size: 36px;
            }
            .promo__subheader {
                font-size: 18px;
            }
        }
        .button_main {
            width: 340px;
        }
        .title {
            font-size: 26px;
        }
        .advantage__bl {
            padding: 0 13px 0 13px;
            .advantage__subheader {
                font-size: 16px;
            }
            .advantage__text {
                font-size: 13px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .container {
        max-width: 518px;
        .header__logo {
            width: 170px;
        }
        .header__official {
            font-size: 10px;
            span {
                font-size: 13px;
            }
        }
        .header__phone {
            font-size: 13px;
        }
        .promo__wrapper {
            margin-top: 68px;
            .promo__header {
                font-size: 32px;
            }
            .promo__subheader {
                font-size: 16px;
            }
            .promo__icon {
                font-size: 12px;
            }
            img {
                width: 50%;
            }
            .promo__link {
                font-size: 14px;
            }
        }
        .button {
            width: 128px;
            font-size: 11px;
            &_main {
                width: 200px;
            }
        }
        .advantage__wrapper {
            flex-direction: column;
            .advantage__item {
                margin: 0 auto;
            }
            .advantage__descr {
                margin-bottom: 30px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .container {
        max-width: 297px;
        .header {
            flex-direction: column;
            &__logo {
                width: 190px;
                margin-bottom: 12px;
            }
            &__official {
                margin-bottom: 12px;
            }
        }
        .promo__icons {
            width: 295px;
        }
        .title {
            font-size: 22px;
        }
    }
    .consultation {
        padding: 51px 0 92px 0;
        .button_submit {
            width: 219px;
        }
    }
}
